.service-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.service-form {
  border: 2px solid var(--color-shadow-light);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra opcional para darle un efecto elevado */
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 40px;
}

.service-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.service-button-container {
  display: flex;
  gap: .5rem;
  justify-content: end;
}


@media(min-width:824px) {
  .service-form {
    padding: 20px;
    width: 80%;  
  }
}