.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 1.5rem 1.5rem;
}

.contact-title {
  font: var(--font-header-2);
  margin-block-end: 0;
  margin: 1.5rem;
}

.address {
  font: var(--font-paragraph-1);
  margin-block: 0;
  display: flex;
  flex-direction: column;
}

.form-contact {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#contact-province {
  padding-left: .5rem;
}

#contact-province option {
  white-space: nowrap; /* Evita el salto de línea de texto largo */
  overflow: hidden;
  text-overflow: ellipsis; /* Muestra puntos suspensivos para el texto que se desborda */
  max-width: 100%; /* Limita el ancho máximo de las opciones */
}

.map {
  border: 0;
  min-height: 200px;
}

@media(min-width:824px) {
  #main-contact {
    padding: 0 10%;
  }

  .contact-title {
    margin-block: 1.5rem;
  }

  .contact-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 184px 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }

  .address {
    grid-column: 1;
    font: var(--font-paragraph-2);
  }

  .form-contact {
    grid-column: 2;
  }


  .form-contact .send-btn {
    margin-top: 1rem;
  }

  .map-wrapper {
    grid-column: 3;
  }
}