/* Estilos responsive */
.service-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.service-intro-description h2 {
  font: var(--font-header-2);
  margin-block-start: 0;
}

.service-intro-description p,
.service-intro-description li {
  font: var(--font-paragraph-3);
  margin-block-start: .2rem;
}

.service-intro-hire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para pantalla grande */
@media(min-width:824px) {
  .service-intro {
    flex-direction: row;
    align-items: start;
    gap: 3%;
  }

  .service-intro-description {
    min-width: 65%;
  }
}